* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

html {
  background-color: rgba(0, 0, 0, 0.9);
}

body {
  margin: 8px 16px;
  color: whitesmoke;
}

h1 {
  font-size: 8em;
  font-weight: 300;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid gray;
}

p {
  font-size: 4em;
  font-weight: 300;
  margin: 4px 0;
}

p:first-of-type {
  margin-top: 25vh;
}

p:last-of-type {
  font-weight: 400;
}

img {
  vertical-align: -50%;
  height: 2em;
  width: 2em;
}

